<%- include('../partials/header') %>

    <!-- <div class="col-6"> -->
    <div class="col-lg-4 offset-1">Col 2
        <h3 class="feed-heading">FEED</h3>
        <% if (user) { %>
            <div>
                <form action="/posts" method="POST" class="post-form">
                    <input type="text" name="content" class="input-post">
                    <!-- <input type="submit" value="Post" id="post-button"> -->
                    <input type="submit" value="Post!" class="post-index">
                </form>
            </div>

            <% } %>
                <div class="list-posts">
                    <% posts.forEach(function(p) { %>
                        <a href="/posts/<%= p._id %>" class="post-link">
                            <div class="posts">
                                <div class="post-profile">
                                    <img src="<%= p.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"
                                        class="post-user">
                                    <p class="post-username">
                                        <%= p.userName %>
                                    </p>
                                </div>
                                <p class="post-content">
                                    <%= p.content %>
                                </p>
                            </div>
                        </a>
                        <% }); %>
                </div>
    </div>
    <!-- </div> -->
    <%- include('../partials/footer') %>